@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

/* header */
.App h2 {
  margin-top: 2rem;
  margin-left: 2rem;
}
.App .title {
  font-size: 2.25rem;
}
.App .root-pixel {
  font-size: 2rem;
}
.App .root-pixel input {
  border: none;
  outline: none;
  font-size: 2rem;
}
.App .root-pixel input:focus {
  border: 1px solid #dedede;
  outline: #ddd;
  border-radius: 0.5rem;
  width: auto;
  font-size: 2rem;
}

/* container */
.App .container {
  width: 70rem;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.App .container h3 {
  font-size: 2rem;
}
.App .container input {
  border: none;
  outline: none;
  border: 2px solid #ddd;
  padding: 1.25rem 1rem;
  margin-top: 0.25rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}
.App .container span {
  font-size: 2rem;
  display: inline-block;
  font-weight: 700;
}
.App .container .px {
  margin-left: -55px;
}
.App .container .rem {
  margin-left: -80px;
}

/* 968px 이하일 경우 */
@media screen and (max-width: 968px) {
  .App .container {
    width: 30.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
